nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21252a;
  padding: 25px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}

img {
  height: 4vh;
  margin-left: 30px;
}

ul {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
  margin-right: 30px;
}

li {
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  color: #ffc800;
}

a {
  display: none;
  color: gray;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid #44484c;
  border-radius: 0.25rem;
  padding: 5px;
  margin-right: 80px;
  cursor: pointer;
}

a img {
  height: 15px;
  width: 20px;
  padding-left: 5px;
  margin: 0;
}

menu {
  display: none;
  color: white;
  background-color: #21252a;
  list-style: none;
  padding-left: 110px;
  z-index: 1;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 10vh;
  overflow: hidden;
}

@keyframes menuGrow {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 220px;
  }
}

.menu-visible {
  animation: menuGrow 0.75s;
  display: block;
}

menu li {
  margin: 20px 0px;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  ul {
    display: none;
  }

  a {
    display: block;
  }

  img {
    height: 3.5vh;
    margin-left: 30px;
  }

  nav {
    padding: 25px 80px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 25px;
  }
  menu {
    padding-left: 55px;
  }
}
