nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: transparent;
}

img {
    height: 4vh;
}

ul {
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
}